@import url("https://fonts.googleapis.com/css?family=Archivo:400,700|Alegreya:400,700|Roboto+Mono:400,700&display=swap");

/* Root styles */
:root {
  --background: #050511;
  --gray1: #d2d2d4;
  --gray2: #9f9fa3;
  --gray3: #4a4a4e;
  --primary: #595983;
  --header-z-index: 1;
  --header-height: 36px;
  --modal-z-index: 2;
}

body {
  background: var(--background);
  color: var(--gray1);
  font-size: 1rem;
  font-family: Archivo, sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

a {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: var(--gray2);
}
/* Smooth scroll to anchor accounting for header height: https://stackoverflow.com/a/24298427 */
[id]::before {
  content: "";
  display: block;
  height: var(--header-height);
  margin-top: calc(-1 * var(--header-height));
  visibility: hidden;
}

blockquote {
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  color: var(--gray2);
  font-family: Alegreya, serif;
  font-size: 1.1rem;
  margin: 32px;
  position: relative;
}
blockquote:before {
  color: var(--primary);
  content: "“";
  font-size: 6rem;
  left: 50%;
  position: absolute;
  top: 0em;
  transform: translate(-50%, -50%);
}
blockquote > cite {
  display: block;
  text-align: right;
}

code,
pre {
  font-family: "Roboto Mono", monospace;
}

/* Classnames */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
